<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">

            <h3> Make your url Shorter</h3>
            <div> Please add your url after this domain like"https://this domain/new/your url, for example:"<div>
            <br>
              <div class='example'>https://this domain/new/http:www.google.com</div>
              <br>
              <div>then I'll return you a shorter url and you can use this url like:"https://this/shortUrl. for example:</div>
              <br>
              <div class = 'example'> https://&ltthis domain&gt/shortUrl</div>
    
      </div>
   </body>

</html>
